body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#title{ 
  text-align: center;
}

#navBar > a{
  margin: 10px;
}

.table {
  padding: 10px;
}

#destHeader {
  padding: 50px 0px 0px 5px;
}

