<%- include('../partials/header') %>
      <div id = "title">
        <h2>Enter a New Plane</h2>
      </div>
    <form action="/planes" method="POST">
      <label>Airline:
        <select name="airline">
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
          </select>
      </label><br>
      <label>Airport:
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
            <option value="DEN">DEN</option>
          </select>
      </label><br>
      <label>plane No:
        <input type="number" name="planeNo">
      </label><br>
      <label> Departure Date
        <input type="datetime-local" name="departs">
      </label><br>
      <input type="submit" action = "/planes" value="Add Plane">
    </form>



<%- include('../partials/footer') %>